.composition {
  position: relative;
  &__photo {
    width: 62%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    //  border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 200ms;
    outline-offset: 1.5rem;

    @include respond(tab-port) {
      //width <= 900px
      float: left;
      position: relative;
      width: 33.3333%;

      box-shadow: 0 1rem 3rem rgba($color-black, 0.3);
    }

    &--p1 {
      left: 0;
      top: -2rem;

      @include respond(tab-port) {
        top: 0;
        transform: scale(1.3);
      }
    }
    &--p2 {
      right: -1rem;
      top: 2rem;

      @include respond(tab-port) {
        right: 0rem;
        top: -1rem;
        transform: scale(1.4);
        z-index: 100;
      }
    }
    &--p3 {
      left: 18%;
      top: 10rem;
      @include respond(tab-port) {
        top: 0rem;
        left: 0;
        transform: scale(1.3);
      }
    }

    &:hover {
      outline: 1.5rem solid $color-primary;
      transform: scale(1.06) translateY(-5px);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.45);
      z-index: 20;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
